body {
  background: linear-gradient(to bottom, #65e0bd, #d35cff);
  text-align: center;
  font-family: Arial, sans-serif;
}

h1, h3, h4 {
  color: purple;
}

p {
  color: purple;
  border: 2px dashed pink;
  border-radius: 8px; 
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  width: 250px;
  background-color: #fff0f8;
  transition: 0.3s ease;
  outline: none;
}

input[type="text"]:focus {
  border-color: #ff69b4;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
}

button {
  padding: 10px 20px;
  border: 4px solid black;
  background-color: lightblue;
  cursor: pointer;
}

button:hover {
  background-color: #d0ecf9;
  transform: scale(1.05);
  transition: 0.2s;
}

input[type="text"],
input[type="time"],
input[type="datetime-local"] {
  padding: 8px;
  margin: 5px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff0f5;
}

th {
  background-color: pink;
  color: white;
  font-weight: bold;
}

th, td {
  padding: 12px;
  border: 2px solid hotpink;
  text-align: center;
}

div {
  border: 8px lightblue;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 10px;
  background-color: #ffe6f0;
}

ul {
  text-align: left;
  display: inline-block;
  margin-top: 10px;
}
